.skill {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width: 200px;
	display: inline-block;
	text-align: left;
}

#skillForm {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
	width: 200px;
	text-align: left;
}

.userSkill {
	padding: 5px;
}

.userSkillLevel {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin: 5px;
	border: 1px solid black;
}

.sugInput {
	width: 150px;
}

#suggest {
	position: absolute;
	border: 1px solid black;
	background-color: white;
	padding: 5px;
}

.contElem {
	float: right;
}